// src/assets/global.scss

@font-face {
    font-family: 'Mulish';
    src: url('~@/assets/fonts/Mulish.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('~@/assets/fonts/Mulish_italic.ttf') format('truetype');
    font-style: italic;
}

$dark: #252525;
$light: #f3f1f1;

body {
    background-color: $dark;
    color: $light;
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.content-containers {
    max-width: 1200px;
    margin: 2rem auto 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;

    padding: 2rem 4rem;

    .content {
        width: 48%;

        border: 1px solid rgba(255, 255, 255, 0.203);
        border-radius: 20px;

        padding: 1.5rem 2.5rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        position: relative;
        

        i{
            color: rgba(255, 255, 255, 0.529);
            font-size: 0.9rem;
            position: absolute;
            top: 0.4rem;
            left: 1rem;

            user-select: none;

            z-index: -10;
        }
    }
}